streamlit
scapy
pandas
numpy
scikit-learn
pyttsx3
SpeechRecognition
openai-whisper
sounddevice
scipy
requests
folium
streamlit-folium
geopy
python-dotenv
groq
sqlalchemy
shap
stable-baselines3
gymnasium
tensorflow
keras